.main-screen{
    -fx-alignment: center;
    -fx-padding: 25;
    -fx-spacing: 10;
}

.screen{
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.title{
    -fx-font-family: "Tahoma";
    -fx-font-size: 20px;
    -fx-font-weight: normal;
}

.label-email{
    -fx-padding: 10 0 0 0;
}

.label-password{
    -fx-padding: 5 0 0 0;
}

.link{
    -fx-font-family: "Arial";
    -fx-font-size: 10px;
    -fx-font-weight: normal;
    -fx-border: empty;
    -fx-padding: 0 10 20 10;
}

.box-link{
    -fx-alignment: center;
}

.button-box{
    -fx-alignment: center;
}



/* DENUNCIA VIEW */

.denuncia-view .denuncia-grid{
    -fx-alignment: center;
}

.denuncia-title{
    -fx-alignment: center;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.header{
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-font-size: 13px;
}

.table{
    -fx-pref-width: 750;
    -fx-pref-height: 650;
}